<!DOCTYPE html>
<html>
  <head>
    <title>Petplaymates</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="devise_body">
  	<%= image_tag 'cute2.jpg', class: "devise" %>
    <%= yield %>
  </body>
</html>
